*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
header{
    height: 90px;
    width: auto;
    /* border: 2px solid black; */
    font-size: 13px;
    position: sticky;
    top: 0px;
    background-color: whitesmoke;
    z-index: 2;
}
#A{
    height: 25px;
    width: auto;
    /* border: 2px solid violet; */
    display: flex;
    margin-left: 40px;
    margin-top: 5px;
    position: sticky;
}
#A>div{
    border: 2px solid;
    padding-top: 7px;
    font-size: 13px;
    border-left: none;
    border-top: none;
    border-bottom: none;
    background-color: whitesmoke;
    text-align: center;
}
#main{
    display: flex;
    position: sticky;
    top: 0px;
}
#a1{
    width: 110px;
    margin-left: 5px;
}
#a2{
   
    width: 60px;
}
#a3{ 
     width: 80px;
}
#a4{
    width: 55px;
}
#a5{
    width: 40px;
}
#a6{
    width: 65px;
}
#a7{
    width: 40px;
}
#a8{
    width: 75px;
}
#a9{
    width: 65px;
}
#a10{
    width: 75px;
}
#a11{
    width: 100px;
}
#a12{
    width: 110px;
}
#a13{
    width: 185px;
    border-color: white;
}
#a14{
    width: 70px;
    margin-left: 300px;
   padding-top: 10px;
   font-size: 15px;
}
#d1:hover{
    background-color: #59595a;
    border-radius: 10px;
}
#d2:hover{
    background-color: #59595a;
    border-radius: 10px;
}
#d3:hover{
    background-color: #59595a;
    border-radius: 10px;
}
#d4:hover{
    border-radius: 10px; 
    background-color: #59595a;
}
#d5:hover{
    border-radius: 10px; 
    background-color: #59595a;
}
#d6:hover{
    border-radius: 10px; 
    background-color: #59595a;
}
#d7:hover{
    border-radius: 10px; 
    background-color: #59595a;
}

#a1:hover{
    background-color: aquamarine;
}
#a2:hover{
    background-color: aquamarine;
}
#a3:hover{
    background-color: aquamarine;
}
#a4:hover{
    background-color: aquamarine;
}
#a5:hover{
    background-color: aquamarine;
}
#a6:hover{
    background-color: aquamarine;
}
#a7:hover{
    background-color: aquamarine;
}
#a8:hover{
    background-color: aquamarine;
}
#a9:hover{
    background-color: aquamarine;
}
#a10:hover{
    background-color: aquamarine;
}
#a11:hover{
    background-color: aquamarine;
}
#a12:hover{
    background-color: aquamarine;
}
#a13:hover{
    background-color: aquamarine;
}


#C{ 
    height: 60px;
    width: auto;
    /* border: 2px solid brown; */
    display: flex;
    position: sticky;
    background-color: whitesmoke;
}
#C>div{
   text-align: center;
    /* border: 2px solid ; */
}
#c1{
    width: 200px;
    padding-top: 8px;
    margin-left: 25px;
    /* border: 2px solid black; */
}
#c2{
    width: 300px;
    font-size: 20px;
    padding-top: 30px;
    opacity: 80%;
}
#c3{
    width: 700px;
    font-size: 40px;
    outline: none;
    padding-top: 5px;
    border-color: antiquewhite;
}
#c4{
    height: 40px;
    width: 500px;
    border-radius: 5px;
    font-size: 15px;
   border: 1px solid rgba(0, 0, 66, 0.5);
}
#c5{
    width: 100px;
    padding-top: 30px;
    font-size: 15px;
}
#c6{
    width: 150px;
    padding-top: 30px;
    font-size: 15px;
}
#c7{
    width: 150px;
   padding-top: 30px;
   font-size: 15px;
}
#c8{
    width: 100px;
    padding-top: 30px;
    font-size: 15px;
}
#D{
    height: 60px;
    width: auto;
    background-color: rgb(245, 240, 235);
    display: flex;
    position: relative;
    position: sticky;
    top: 90px;
    z-index: 2;
}
#D>div{
    height: 56px;
    /* border: 2px solid  black; */
    padding-top: 20px;
    margin-left: 25px;
    font-size: 16.5px;
    left: 100px;
}
#d8{
    display: flex;
    width: 335px;
    position: relative;
    left: 6 0px;
}
#d9{
    height: 45px;
    width: 110px;
    background-size: cover;
    background-image: url(3dtryon1.webp);
    position: absolute;
    top: 7px;
    border-radius: 5px;
    left: 0px;
}
#d10{
    height: 45px;
    width: 110px;
    background-size: cover;
    position: absolute;
    top: 7px;
    left: 113px;
    background-image: url(blulogo.webp);
    border-radius: 5px;
}
#d11{
    height: 45px;
    width: 110px;
    background-size: cover;
    background-image: url(goldlogo.webp);
    border-radius: 5px;
    position: absolute;
    top: 7px;
    right: 0px;
}
#E{
    height: 140px;
    width: auto;
    background-image: url(vc-sunsky.webp);
    background-size: cover;
}
#F{
    height: 375px;
    width: auto;
}
#f1{
    display: flex;
    font-size: 30px;
    margin-top: 40px;
    text-align: center;
    margin-left: 470px;
}
#f11{
    width: 240px;
    border-right: 4px solid black;
}
#f12{
    margin-left: 10px;
}
#f2{
    height: 240px;
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
}
#f2>div{
    height: 150px;
    width: 244px;
    /* border: 2px solid black; */
    /* position: absolute; */
    margin-top: 45px;
    margin-left: 200px;
}
#f21{
    background-image: url(sun1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
#f22{
    background-image: url(sun2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
#f23{
    background-image: url(sun3.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
#f3>button{
    height: 40px;
    width: 150px;
    background-color: rgb(59, 159, 149);
    color: aliceblue;
    font-size: 15px;
    border: none;
}
#f3{
    text-align: center;
}
#article{
    height: 360px;
    width: 1375px;
    border: 1px solid black;
    margin-left: 80px;
    border-left: none;
    border-right: none;
}
#G{
    width: 600px;
    display: flex;
    margin-left: 420px;
    margin-top: 20px;
}
#G0{
    margin-left: 580px;
}
#g2{
    margin-left: 10px;
    letter-spacing: 4px;
}
#g1{
    letter-spacing: 4px;
    font-weight: 400;
}
#G1{
    margin-left: 330px;
    letter-spacing: 2px;
}
#g4{
    margin-left: 10px;
}
#G2>div{
    height: 150px;
    width: 250px;
    /* border: 2px solid black; */  
    margin-top: 40px;
}   
#G2{
    width: 1400px;
    /* border: 2px solid black;   */
    justify-content: space-evenly;
}
#g5{
    background-image: url(100.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 30px;
}
#g6{
    background-image: url(101.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 30px;
}
#g7{
    background-image: url(102.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 50px;
}
#G3>button{
    height: 40px;
    width: 150px;
    background-color: rgb(59, 159, 149);
    color: aliceblue;
    font-size: 15px;
    border: none;
    margin-top: 30px;
}
#G3{
    text-align: center;
}
#article0{
    height: 360px;
    width: 1375px;
    border: 1px solid black;
    margin-left: 80px;
    border-left: none;
    border-right: none;
    border-top: none;
}
#H{
    width: 600px;
    display: flex;
    margin-left: 420px;
    margin-top: 20px;
}
#H0{
    margin-left: 390px;
}
#h2{
    margin-left: 10px;
    letter-spacing: 4px;
}
#h1{
    letter-spacing: 4px;
}
#H1{
    margin-left: 330px;
    letter-spacing: 2px;
}
#h4{
    margin-left: 10px;
}
#H2>div{
    height: 150px;
    width: 250px;
    /* border: 2px solid black; */  
    margin-top: 40px;
}   
#H2{
    width: 1400px;
    /* border: 2px solid black;   */
    justify-content: space-evenly;
}
#h5{
    background-image: url(103.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 30px;
}
#h6{
    background-image: url(104.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 50px;
}
#h7{
    background-image: url(105.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 50px;
}
#H3>button{
    height: 40px;
    width: 150px;
    background-color: rgb(59, 159, 149);
    color: aliceblue;
    font-size: 15px;
    border: none;
    margin-top: 30px;
}
#H3{
    text-align: center;
}
#article1{
    height: 360px;
    width: 1375px;
    border: 1px solid black;
    margin-left: 80px;
    border-left: none;
    border-right: none;
    border-top: none;
}
#I{
    width: 600px;
    display: flex;
    margin-left: 480px;
    margin-top: 20px;
}
#I0{
    margin-left: 400px;
}
#i2{
    margin-left: 10px;
    letter-spacing: 4px;
}
#i1{
    letter-spacing: 4px;
}
#I1{
    margin-left: 330px;
    letter-spacing: 2px;
}
#i4{
    margin-left: 10px;
}
#I2>div{
    height: 150px;
    width: 250px;
    /* border: 2px solid black; */  
    margin-top: 40px;
}   
#I2{
    width: 1400px;
    /* border: 2px solid black;   */
    justify-content: space-evenly;
}
#i5{
    background-image: url(106.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 30px;
}
#i6{
    background-image: url(107.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 50px;
}
#i7{
    background-image: url(108.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 50px;
}
#I3>button{
    height: 40px;
    width: 150px;
    background-color: rgb(59, 159, 149);
    color: aliceblue;
    font-size: 15px;
    border: none;
    margin-top: 30px;
}
#I3{
    text-align: center;
}
#article2{
    height: 360px;
    width: 1375px;
    border: 1px solid black;
    margin-left: 80px;
    border-left: none;
    border-right: none;
    border-top: none;
}
#J{
    width: 600px;
    display: flex;
    margin-left: 480px;
    margin-top: 20px;
}
#J0{
    margin-left: 450px;
}
#j2{
    margin-left: 10px;
    letter-spacing: 4px;
}
#j1{
    letter-spacing: 4px;
}
#J1{
    margin-left: 330px;
    letter-spacing: 2px;
}
#j4{
    margin-left: 10px;
}
#J2>div{
    height: 150px;
    width: 250px;
    /* border: 2px solid black; */  
    margin-top: 40px;
}   
#J2{
    width: 1400px;
    /* border: 2px solid black;   */
    justify-content: space-evenly;
}
#j5{
    background-image: url(109.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 30px;
}
#j6{
    background-image: url(110.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 50px;
}
#j7{
    background-image: url(111.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 50px;
}
#J3>button{
    height: 40px;
    width: 150px;
    background-color: rgb(59, 159, 149);
    color: aliceblue;
    font-size: 15px;
    border: none;
    margin-top: 30px;
}
#J3{
    text-align: center;
}
#article3{
    height: 360px;
    width: 1375px;
    border: 1px solid black;
    margin-left: 80px;
    border-left: none;
    border-right: none;
    border-top: none;
}
#K{
    width: 600px;
    display: flex;
    margin-left: 520px;
    margin-top: 20px;
}
#K0{
    margin-left: 360px;
}
#k2{
    margin-left: 10px;
    letter-spacing: 4px;
}
#k1{
    letter-spacing: 4px;
}
#K1{
    margin-left: 360px;
    letter-spacing: 2px;
}
#k4{
    margin-left: 10px;
}
#K2>div{
    height: 150px;
    width: 250px;
    /* border: 2px solid black; */  
    margin-top: 40px;
}   
#K2{
    width: 1400px;
    /* border: 2px solid black;   */
    justify-content: space-evenly;
}
#k5{
    background-image: url(112.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 30px;
}
#k6{
    background-image: url(113.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 50px;
}
#k7{
    background-image: url(114.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 50px;
}
#K3>button{
    height: 40px;
    width: 150px;
    background-color: rgb(59, 159, 149);
    color: aliceblue;
    font-size: 15px;
    border: none;
    margin-top: 30px;
}
#K3{
    text-align: center;
}
#article4{
    height: 360px;
    width: 1375px;
    border: 1px solid black;
    margin-left: 80px;
    border-left: none;
    border-right: none;
    border-top: none;
}
#L{
    width: 600px;
    display: flex;
    margin-left: 470px;
    margin-top: 20px;
}
#L0{
    margin-left: 340px;
}
#l2{
    margin-left: 10px;
    letter-spacing: 4px;
}
#l1{
    letter-spacing: 4px;
}
#L1{
    margin-left: 360px;
    letter-spacing: 2px;
}
#l4{
    margin-left: 10px;
}
#L2>div{
    height: 150px;
    width: 250px;
    /* border: 2px solid black; */  
    margin-top: 40px;
}   
#L2{
    width: 1400px;
    /* border: 2px solid black;   */
    justify-content: space-evenly;
}
#l5{
    background-image: url(115.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 30px;
}
#l6{
    background-image: url(116.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 50px;
}
#l7{
    background-image: url(117.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 50px;
}
#L3>button{
    height: 40px;
    width: 150px;
    background-color: rgb(59, 159, 149);
    color: aliceblue;
    font-size: 15px;
    border: none;
    margin-top: 30px;
}
#L3{
    text-align: center;
}
#article5{
    height: 360px;
    width: 1375px;
    border: 1px solid black;
    margin-left: 80px;
    border-left: none;
    border-right: none;
    border-top: none;
}
#M{
    width: 600px;
    display: flex;
    margin-left: 480px;
    margin-top: 20px;
}
#M0{
    margin-left: 420px;
}
#m2{
    margin-left: 10px;
    letter-spacing: 4px;
}
#m1{
    letter-spacing: 4px;
}
#M1{
    margin-left: 360px;
    letter-spacing: 2px;
}
#m3{
    margin-left: 170px;
}
#m4{
    margin-left: 10px;
}
#M2>div{
    height: 150px;
    width: 250px;
    /* border: 2px solid black; */  
    margin-top: 40px;
}   
#M2{
    width: 1400px;
    /* border: 2px solid black;   */
    justify-content: space-evenly;
}
#m5{
    background-image: url(118.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 30px;
}
#m6{
    background-image: url(119.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 50px;
}
#m7{
    background-image: url(120.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 50px;
}
#M3>button{
    height: 40px;
    width: 150px;
    background-color: rgb(59, 159, 149);
    color: aliceblue;
    font-size: 15px;
    border: none;
    margin-top: 30px;
}
#M3{
    text-align: center;
}
#article6{
    height: 360px;
    width: 1375px;
    border: 1px solid black;
    margin-left: 80px;
    border-left: none;
    border-right: none;
    border-top: none;
}
#N{
    width: 600px;
    display: flex;
    margin-left: 470px;
    margin-top: 20px;
}
#N0{
    margin-left: 600px;
}
#n2{
    margin-left: 10px;
    letter-spacing: 4px;
}
#n1{
    letter-spacing: 4px;
}
#N1{
    margin-left: 400px;
    letter-spacing: 2px;
}
#n4{
    margin-left: 10px;
}
#N2>div{
    height: 150px;
    width: 250px;
    /* border: 2px solid black; */  
    margin-top: 40px;
}   
#N2{
    width: 1400px;
    /* border: 2px solid black;   */
    justify-content: space-evenly;
}
#n5{
    background-image: url(121.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 30px;
}
#n6{
    background-image: url(122.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 50px;
}
#n7{
    background-image: url(123.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 50px;
}
#N3>button{
    height: 40px;
    width: 150px;
    background-color: rgb(59, 159, 149);
    color: aliceblue;
    font-size: 15px;
    border: none;
    margin-top: 30px;
}
#N3{
    text-align: center;
}



#article7{
    height: 360px;
    width: 1375px;
    border: 1px solid black;
    margin-left: 80px;
    border-left: none;
    border-right: none;
    border-top: none;
}
#O{
    width: 600px;
    display: flex;
    margin-left: 470px;
    margin-top: 20px;
}
#O0{
    margin-left: 600px;
}
#o2{
    margin-left: 10px;
    letter-spacing: 4px;
}
#o1{
    letter-spacing: 4px;
}
#O1{
    margin-left: 400px;
    letter-spacing: 2px;
}
#o4{
    margin-left: 10px;
}
#O2>div{
    height: 150px;
    width: 250px;
    /* border: 2px solid black; */  
    margin-top: 40px;
}   
#O2{
    width: 1400px;
    /* border: 2px solid black;   */
    justify-content: space-evenly;
}
#o5{
    background-image: url(124.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 30px;
}
#o6{
    background-image: url(125.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 50px;
}
#o7{
    background-image: url(126.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 50px;
}
#O3>button{
    height: 40px;
    width: 150px;
    background-color: rgb(59, 159, 149);
    color: aliceblue;
    font-size: 15px;
    border: none;
    margin-top: 30px;
}
#O3{
    text-align: center;
}
#article8{
    height: 360px;
    width: 1375px;
    border: 1px solid black;
    margin-left: 80px;
    border-left: none;
    border-right: none;
    border-top: none;
}
#P{
    width: 600px;
    display: flex;
    margin-left: 470px;
    margin-top: 20px;
}
#P0{
    margin-left: 600px;
}
#p2{
    margin-left: 10px;
    letter-spacing: 4px;
}
#p1{
    letter-spacing: 4px;
}
#P1{
    margin-left: 400px;
    letter-spacing: 2px;
}
#p4{
    margin-left: 10px;
}
#P2>div{
    height: 150px;
    width: 250px;
    /* border: 2px solid black; */  
    margin-top: 40px;
}   
#P2{
    width: 1400px;
    /* border: 2px solid black;   */
    justify-content: space-evenly;
}
#p5{
    background-image: url(127.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 30px;
}
#p6{
    background-image: url(128.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 50px;
}
#p7{
    background-image: url(129.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 50px;
}
#P3>button{
    height: 40px;
    width: 150px;
    background-color: rgb(59, 159, 149);
    color: aliceblue;
    font-size: 15px;
    border: none;
    margin-top: 30px;
}
#P3{
    text-align: center;
}
#article9{
    height: 360px;
    width: 1375px;
    border: 1px solid black;
    margin-left: 80px;
    border-left: none;
    border-right: none;
    border-top: none;
}
#Q{
    width: 600px;
    display: flex;
    margin-left: 470px;
    margin-top: 20px;
}
#Q0{
    margin-left: 600px;
}
#q2{
    margin-left: 10px;
    letter-spacing: 4px;
}
#q1{
    letter-spacing: 4px;
}
#Q1{
    margin-left: 400px;
    letter-spacing: 2px;
}
#q4{
    margin-left: 10px;
}
#Q2>div{
    height: 150px;
    width: 250px;
    /* border: 2px solid black; */  
    margin-top: 40px;
}   
#Q2{
    width: 1400px;
    /* border: 2px solid black;   */
    justify-content: space-evenly;
}
#q5{
    background-image: url(130.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 30px;
}
#q6{
    background-image: url(131.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 50px;
}
#q7{
    background-image: url(132.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 50px;
}
#Q3>button{
    height: 40px;
    width: 150px;
    background-color: rgb(59, 159, 149);
    color: aliceblue;
    font-size: 15px;
    border: none;
    margin-top: 30px;
}
#Q3{
    text-align: center;
}
#article10{
    height: 360px;
    width: 1375px;
    border: 1px solid black;
    margin-left: 80px;
    border-left: none;
    border-right: none;
    border-top: none;
}
#R{
    width: 600px;
    display: flex;
    margin-left: 470px;
    margin-top: 20px;
}
#R0{
    margin-left: 600px;
}
#r2{
    margin-left: 10px;
    letter-spacing: 4px;
}
#r1{
    letter-spacing: 4px;
}
#R1{
    margin-left: 400px;
    letter-spacing: 2px;
}
#R4{
    margin-left: 10px;
}
#R2>div{
    height: 150px;
    width: 250px;
    /* border: 2px solid black; */  
    margin-top: 40px;
}   
#R2{
    width: 1400px;
    /* border: 2px solid black;   */
    justify-content: space-evenly;
}
#r5{
    background-image: url(133.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 30px;
}
#r6{
    background-image: url(134.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 50px;
}
#r7{
    background-image: url(135.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 50px;
}
#R3>button{
    height: 40px;
    width: 150px;
    background-color: rgb(59, 159, 149);
    color: aliceblue;
    font-size: 15px;
    border: none;
    margin-top: 30px;
}
#R3{
    text-align: center;
}
#article11{
    height: 360px;
    width: 1375px;
    border: 1px solid black;
    margin-left: 80px;
    border-left: none;
    border-right: none;
    border-top: none;
}
#S{
    width: 600px;
    display: flex;
    margin-left: 470px;
    margin-top: 20px;
}
#S0{
    margin-left: 600px;
}
#s2{
    margin-left: 10px;
    letter-spacing: 4px;
}
#s1{
    letter-spacing: 4px;
}
#S1{
    margin-left: 400px;
    letter-spacing: 2px;
}
#s4{
    margin-left: 10px;
}
#S2>div{
    height: 150px;
    width: 250px;
    /* border: 2px solid black; */  
    margin-top: 40px;
}   
#S2{
    width: 1400px;
    /* border: 2px solid black;   */
    justify-content: space-evenly;
}
#s5{
    background-image: url(136.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 30px;
}
#s6{
    background-image: url(137.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 50px;
}
#s7{
    background-image: url(138.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 50px;
}
#S3>button{
    height: 40px;
    width: 150px;
    background-color: rgb(59, 159, 149);
    color: aliceblue;
    font-size: 15px;
    border: none;
    margin-top: 30px;
}
#S3{
    text-align: center;
}
a:active,a:visited{
    color: black;
}












aside{
    height: 200px;
    width: auto;
    background-color: #000042;
}
aside>div{
    color: white;
}
#aside1{
    font-size: 32px;
    margin-left: 50px;
    padding-top: 20px;
}
#aside2{
    width: 90%;
    font-size: 14px;
    padding-top: 20px;
    margin-left: 50px;
}
footer{
    height: 300px;
    width: auto;
    background-color: #000042;
    margin-top: 1px;
    display: flex;
}
footer>div{
    color: white;
    /* border: 2px solid red; */
    height: 240px;
    margin-top: 25px;
}
#x11,#x21,#x31{
    font-size: 25px;
}
#x1{
    width: 100px;
    margin-left: 55px;
}
#x2{
    margin-left: 100px;
    width: 150px;
}
#x3{
    margin-left: 115px;
}
#x12,#x13,#x14{
    margin-top: 30px;
    width: 80px;
    font-size: 14px;
}
#x22,#x23,#x24,#x25{
    margin-top: 18px;
    font-size: 14px;
}
#x24{
    margin-top: 25px;
}
#x1>div{
    height: 12px;
    width: 80px;
    /* font-size: 12px; */
    /* border: 2px solid yellow; */
    justify-content: space-between;
}
#x32{
    margin-top: 18px;
}
#x4{
    height: 40px;
    width: 232px;
    /* border: 2px solid red; */
    display: flex;
    margin-top: 50px;
    margin-left: 650px;
}
#x41,#x42{
    width: 120px;
    height: 38px;
    /* border: 1px solid white; */
}
#x41{
    background-image: url(play-store.svg);
    background-size: contain;
    background-repeat: no-repeat;
    
}
#x42{
    height: 35px;
    margin-left: 5px;
    background-size: cover;
    background-image: url(app-store.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
#x43{
    /* border: 2px solid  white; */
    height: 200px;
    width: 300px;
    margin-left: 600px;
    margin-top: 15px;
}
#x44{
    margin-left: 55px;
}
#x45{
    margin-left: 10px;
}
#last{
    height: 90px;
    width: auto;
    background-color: #000042;
}
#y1{
    height: 90px;
    width: 90%;
    border: 2px solid white;
    border-left: none;
    border-right: none;
    border-bottom: none;
    margin-left: 5%;
    color: white;
    display: flex;
    position: relative;
}
#y1>div{
    top: 40px;
    position: absolute;
    align-items: start;
}
#y1,#y2,#y3{
    font-size: 20px;
}
#y3{
    margin: 0px 100px;
}
#y4{
    margin-left: 200px;
}
#y5{
    width: 90px;
    margin-left: 1100px;
    font-size: 16px;
    border: 2px solid white;
    border-left: none;
    border-bottom: none;
    border-top: none;
}
#y6{
    width: 90px;
    margin-left: 1190px;
    font-size: 16px;
    padding-left: 7px;
    border: 2px solid white;
    border-right: none;
    border-bottom: none;
    border-top: none;
}
#y7{
    margin-left: 1280px;
}
#y8{
    margin-left: 1305px;
}
#y9{
    margin-left: 1330px;
}
#y10{
    margin-left: 1350px;
}